@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');


*
{
    font-family: 'Rye', cursive;
}

.text-en{font-family: 'Rye', cursive;}

body{
    margin: 0px;
    padding: 0px;
    background-image: url(images/4k_bgimg.jpg); background-attachment: flex;
}

h1{
    width: 500px;
    height: 70px;
}

main{
    align-items: center;
    display: grid;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}


/*main menu*/

#mainMenu{
    width: 100%;
    height: 145px;
    margin-top: 73px;
    display: flex;
    background-image: url(images/menuBar.png); background-position: left;
}

.menu-align-left{
    margin-right: 100px;
    margin-left: 200px;
    align-items: center;
}

.menu-align-right{
    margin-left: 100px;
    margin-right: 200px;
    align-items: center;
}

.logo{
    display: flex;
    top: -50px;
    background: no-repeat;
    justify-content: center;
}
.logo-move{
    margin-top: -50px;
}



/*sub menu*/

#menu{ height: 86px; position: sticky; top:0px;}
#menu ul{display: flex; justify-content: space-evenly; padding: 0px;}
#menu ul li{list-style: none; user-select: none;}
#menu ul li:hover{color: #fff;}


#container
{
    width: 1420px;
    height: 775px;
    margin: auto;
    padding: 85px;
    align-items: center;
}

#img
{
    align-items: center;
}



.row{
    display: flex;
    width: 100%;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.65%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.64%;}
.col-9{width: 75%;}
.col-10{width: 83.3%;}
.col-11{width: 91.67%;}
.col-12{width: 100%;}

.h-200{height: 200px;}
.h-300{height: 300px;}
.h-400{height: 400px;}
.h-500{height: 500px;}


.bg-brown{background-color: #2f2016;}
.bg-darkbrown{background-color: #19110c;}
.bg-none{background:none; border: none;}

.text-white{color: white;}
.text-bgcolor{color: #e2d9c8;}
.text-brown{color: #2f2016;}

.text-left{text-align: left;}
.text-right{text-align: right;}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}



/*title*/
.text-main-title{font-weight: 300; font-size: 3.5rem; text-align: center; margin: auto; white-space: nowrap;}
.text-justify{text-align: justify;}
.text-main-title-left
{
    font-weight: 300; font-size: 4rem; text-align: center; 
    width: 400px; height: 70px;
}
.text-main-title-right
{
    font-weight: 300; font-size: 4rem; text-align: center;
    width: 400px; height: 70px;
}


.text-normal{font-weight: 300; font-size: 1.5rem;}
.text-footer{font-weight: 500; font-size: 1.2rem;}
.text-menu{font-weight: 300; font-size: 1.8rem;}

.text-100{font-size: 100px;}

.text-outline{-webkit-text-stroke: 0.1px #2f2016;}


/*icon button*/
.button{
    background-color: none;
    border: none;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.6);
}


.img-btn{width: 100px; height: 120px; object-fit: cover;}
.img-600{width: 600px; height: 600px; object-fit: cover;}
.img-650{width: 650px; height: 650px; object-fit: cover;}
.img-700{width: 700px; height: 700px; object-fit: cover;}
.img-800{width: 800px; height: 800px; object-fit: cover;}
.img-800-1{width: 800px; height: 500px;}


/*footer*/
footer{
    width: 1920px;
    height: 72px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 0.9rem;
    margin-bottom: 30px;
    color: #e2d9c8;
}

#footer{margin-bottom: 0px;}